:root {
  --main-color: #3965ad;
  --accent-color: #f2444e;
  --button-hover: #c0392b;
  --secondary-color: #f3f4f9;
  --green: #2bb046;
  --article-secondary: #252a38;
  --font-size: 20px;
  --button-padding: 20px;
  --line-height: 24px;
  --font-weight-demibold: 500;
  --card__border-radius: 28px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 16px 0;
}

.logo-image {
  max-width: 228px;
}

.header__left-part {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}

.address {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  font-style: normal;
}

.address__header {
  align-items: end;
  line-height: 120%;
}

.address__link {
  max-width: max-content;
  color: var(--main-color);
  font-weight: 600;
  text-decoration: none;
}

.address__text {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
}

.button {
  width: max-content;
  border: 1px solid;
  border-radius: 14px;
  padding: var(--button-padding);
  font-weight: var(--font-weight-demibold);
  font-size: 16px;
  transition: 0.3s;
  cursor: pointer;
}

.button__header {
  border-color: rgba(70, 70, 70, 0.5);
  color: var(--main-color);
  background-color: transparent;
}

.button__header:hover {
  color: #fff;
  background-color: var(--main-color);
}

.card {
  position: relative;
  width: 100%;
  border-radius: var(--card__border-radius);
  background-color: var(--secondary-color);
}

.card__cover {
  display: grid;
  grid-template-columns: 7fr 3fr;
  justify-content: space-between;
  align-items: center;
  padding: 60px 30px 30px;
}

.cover__title {
  font-weight: 600;
  font-size: 42px;
}

.cover__description {
  width: 60%;
  padding: 18px 0;
  color: var(--article-secondary);
}

.cover__card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  height: 100%;
}

.cover__card-image {
  width: 90%;
}

.button__cover {
  color: #fff;
  background-color: var(--accent-color);
}

.button__cover:hover,
.form__submit-button:hover {
  background-color: var(--button-hover);
}

.cover__benefits-list {
  display: flex;
  align-items: center;
  gap: 0 40px;
  list-style: none;
}

.cover__benefits-list-item {
  width: max-content;
}

.cover__benefits-list-item-content {
  display: flex;
  align-items: center;
  gap: 0 4px;
}

.cover__benefits-icon {
  width: max-content;
}

.cover__benefits-text {
  width: max-content;
  color: var(--article-secondary);
}

.quiz {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 82px 0 32px;
}

.quiz__header {
  border-radius: 28px;
  padding: 35px 42px 30px;
  background-color: var(--main-color);
}

.title {
  font-weight: 600;
  font-size: 32px;
}

.title__quiz {
  width: 60%;
  color: #fff;
}

.quiz__form {
  padding: 36px 40px;
}

.quiz__fieldset {
  margin-bottom: 55px;
  border: none;
  padding: 0;
}

.quiz__fieldset-zero-margin {
  margin: 0;
}

.quiz__legend {
  margin-bottom: 22px;
  font-weight: 600;
  font-size: 24px;
}

.quiz__label {
  position: relative;
  display: flex;
  align-items: center;
  padding: 12px 0;
  cursor: pointer;
}

.quiz__input[type="radio"],
.quiz__input[type="checkbox"] {
  position: relative;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 25px 0 0;
  border: 1px solid #959595;
  vertical-align: text-bottom;
  background: #fff;
  cursor: pointer;
  appearance: none;
}

.quiz__input[type="radio"] {
  border-radius: 50%;
}

.quiz__input[type="radio"]:hover {
  border-color: var(--main-color);
}

.quiz__input[type="radio"]:checked {
  border-color: var(--main-color);
  background-color: var(--main-color);
}

.quiz__input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  transform: translate(-50%, -50%);
}

.quiz__input[type="checkbox"] {
  border-radius: 25%;
}

.quiz__input[type="checkbox"]:hover {
  border-color: var(--main-color);
}

.quiz__input[type="checkbox"]:checked {
  border-color: var(--main-color);
  background: var(--main-color);
  background-image: url("../images/Check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 10px;
}

.quiz__input[type="checkbox"]:checked::before {
  content: "";
  position: absolute;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0;
}

.form__container {
  height: 100%;
  padding: 48px 42px 52px;
  color: #fff;
  background-color: #3b5998;
}

.form__title {
  padding-bottom: 36px;
  font-weight: 600;
  font-size: 28px;
}

.form__section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 513px;
}

.form__input,
.form__select {
  width: 100%;
  border: none;
  border-radius: 14px;
  padding: 19px 14px;
  outline: none;
  color: #fff;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.2);
}

.form__input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.form__submit-button {
  width: 100%;
  margin-top: 10px;
  border: none;
  border-radius: 14px;
  padding: 19px 14px;
  color: #fff;
  font-size: 18px;
  background-color: var(--accent-color);
}

.form__consent-text {
  margin-top: 12px;
  opacity: 0.8;
  font-size: 14px;
}

.form__consent-text a {
  color: #fff;
  text-decoration: underline;
}

.form__column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "progress progress"
    "toggle_left toggle_right";
  gap: 20px;
  height: 100%;
}

.form__progress {
  display: flex;
  flex-direction: column;
  grid-area: progress;
  justify-content: center;
  gap: 10px;
  padding: 44px;
}

.form__progress-title {
  margin: 0;
  color: #000;
  font-weight: 500;
  font-size: 16px;
}

.form__progress-percent {
  margin: 0;
  color: #000;
  font-weight: 500;
  font-size: 48px;
}

.form__progress-bar {
  position: relative;
  width: 70%;
  height: 13px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #e7e7e7;
}

.form__progress-bar-fill {
  height: 100%;
  background-color: var(--green);
}

.form__progress-text {
  padding-top: 14px;
  color: #000;
}

.form__toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
}

.form__toggle-left {
  grid-area: toggle_left;
}

.form__toggle-right {
  grid-area: toggle_right;
}

.form__toggle-switch {
  position: relative;
  display: inline-block;
  width: 62px;
  height: 36px;
  margin: 0;
}

.form__toggle-input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.form__toggle-slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 26px;
  background-color: #c4c4c4;
  transition: 0.4s;
  cursor: pointer;
}

.form__toggle-slider:before {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 6px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #fff;
  transition: 0.4s;
}

.form__toggle-input:checked + .form__toggle-slider {
  background-color: var(--green);
}

.form__toggle-input:checked + .form__toggle-slider:before {
  transform: translateX(22px);
}

.form__toggle-text {
  margin: 0;
  color: #000;
  font-size: 24px;
}

.reviews {
  padding: 120px 0 90px;
}

.title__reviews {
  padding: 0 0 36px 10px;
}

.card__review {
  display: flex;
  gap: 10px;
  border-radius: 10px;
  padding: 20px;
}

.reviews__card-list {
  display: flex;
  width: 100%;
  overflow: visible;
  list-style: none;
  transition: transform 0.5s ease;
}

.reviews__card-list-item {
  flex: 0 0 calc(50% - 20px);
  margin: 0 10px;
}

.reviews__list-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.reviews .card__image {
  border-radius: 10px;
}

.card__content,
.card__title {
  font-size: 18px;
}

.card__content {
  width: 80%;
}

.card__title {
  padding-bottom: 8px;
}

.card__city-text {
  color: #959595;
}

.card__text {
  padding-top: 18px;
}

.card__image-container {
  max-width: 100px;
  height: min-content;
}

.card__image {
  max-width: 100px;
  object-fit: cover;
}

.card__counter {
  position: absolute;
  top: 14px;
  right: 14px;
  opacity: 0.5;
  font-size: 16px;
}

.reviews__card-switcher {
  display: flex;
  justify-content: center;
  gap: 13px;
  padding-top: 24px;
}

.button__right,
.button__left {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  vertical-align: text-bottom;
  background: #fff;
  background-image: url("../images/LeftButton.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  appearance: none;
}

.button__left {
  background-image: url("../images/LeftButton.svg");
}

.button__right {
  background-image: url("../images/RightButton.svg");
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 100%;
  border-top: 1px solid rgb(0 0 0 / 0.2);
  padding: 30px 0 20px;
  font-size: 18px;
}

.footer__info-block {
  display: grid;
  grid-template-areas:
    "phone juridical-info"
    "politics copywrite";
  gap: 30px 30px;
  /* width: fit-content; */
  width: 100%;
  max-width: 900px;
  justify-content: space-between;
}

.footer__text,
.juridical-info,
.footer__link {
  max-width: 360px;
  opacity: 0.4;
  font-size: 16px;
  font-style: normal;
  text-decoration: none;
}

.address__footer {
  grid-area: phone;
  line-height: 150%;
}

.juridical-info {
  grid-area: juridical-info;
}

.footer__link {
  grid-area: politics;
}

.footer__text {
  grid-area: copywrite;
}

.footer__logo {
  align-self: start;
  /* min-width: 228px; */
}


